**/*.log
**/~*
**/*.tmp
**/tmp
**/*.txt
**/*.test
**/*.prof
**/*.conf
**/*.toml
**/vendor
**/node_modules
**/.cache
**/dist
flagbrew
**/.env
bin

public/cypress/downloads
public/cypress/screenshots
public/cypress/videos
rice-box.go